@import url(http://fonts.googleapis.com/css?family=Fugaz+One|Open+Sans:400,300);

body {
  padding-top: 50px;
}

ul.pours {
  list-style: none;
  padding: 0;

}

ul.pours span {
  font-size: 16px;
  display: block;
  float: left;
  margin-right: 0.3em;
  @media (max-width: 600px) {
    font-size: 12px;
    &:nth-of-type(2n+1) {
      clear: both;
    }
  }
}

ul.pours li {
  clear: both;
  padding: 0.5em 0em;
}

ul.pours span.breweryGreen {
  color: #0ab043;
}

ul.pours span.breweryYellow {
  color: #0d28e8;
}

ul.pours span.breweryRed {
  color: #ff1b52;
}

ul.pours span.beerNameGreen {
  color: #0ab043;
}

ul.pours span.beerNameYellow {
  color: #0d28e8;
}

ul.pours span.beerNameRed {
  color: #ff1b52;
}

ul.pours span.beerRatingGreen {
  color: white;
  background-color: #0ab043;
  padding: 0em 0.3em 0em 0.3em;
}

ul.pours span.beerRatingYellow {
  color: white;
  background-color: #0d28e8;
  padding: 0em 0.3em 0em 0.3em;
}

ul.pours span.beerRatingRed {
  color: white;
  background-color: #ff1b52;
  padding: 0em 0.3em 0em 0.3em;
}

.form-auth {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  .form-auth-heading,
  .checkbox {
    margin-bottom: 10px;
  }
  .checkbox {
    font-weight: normal;
  }
  .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    &:focus {
      z-index: 2;
    }
  }
  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  div.alert {
    margin: 1em 0em;
  }
  a.signup {
    display: block;
    margin-top: 1em;
    text-align: center;
  }
}

footer {
  position: fixed;
  bottom: 5px;
  align: left;
  margin-left: 94px;
  background-color: white;
}

.copyright {
  padding-top: 5px;
}
